/* 1200 px */

@media (max-width: 75em) {
  img {
    max-width: 100%;
  }
}

/* 992 px */

@media (max-width: 62em) {
  html {
    font-size: 56.25%;
  }

  body {
    line-height: 1.6;
  }

  .header {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }

  .logo {
    width: 14rem;
  }

  .logo-container {
    text-align: center;
    margin-bottom: 6.4rem;
  }

  .grid--footer {
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: baseline;
  }

  .contacts-col,
  .links-1,
  .social-links {
    justify-self: center;
  }

  .links-2 {
    justify-self: end;
  }

  .social-links {
    align-self: center;
  }
}

/* 640px */

@media (max-width: 40em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .header {
    padding: 3.2rem;
  }

  .features {
    width: 50rem;
  }

  .how {
    flex-direction: column;
  }

  .how-img {
    width: 50rem;
  }

  .how-text {
    width: 45rem;
    max-width: 90%;
  }

  .heading-how {
    max-width: unset;
  }

  .testimonials {
    width: 47rem;
  }

  .quotes-img {
    top: -2rem;
    left: 1rem;
    width: 2.5rem;
  }

  .cta-form {
    flex-direction: column;
    width: 45rem;
    max-width: 100%;
    margin: 0 auto;
  }

  .cta-form input {
    padding: 1.6rem;
  }

  .grid--footer {
    grid-template-columns: 1fr;
  }

  .address,
  .links-2 {
    justify-self: center;
  }
}

/* 400px */

@media (max-width: 30em) {
  html {
    font-size: 43.75%;
  }

  body {
    line-height: 1.4;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero,
  .features,
  .how {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .footer-logo .logo {
    width: unset;
  }
}

/* 375px */

@media (max-width: 23.5em) {
  .section-hero::before {
    background-image: url("../images/bg-curvy-mobile.svg");
  }

  .footer {
    padding-top: 25rem;
  }

  .logo-container {
    text-align: unset;
  }

  .address,
  .contacts-col,
  .nav-col {
    justify-self: unset;
  }

  .address {
    font-size: 2.4rem;
  }
}
